/*
        Put your custom CSS here
*/

.secondary{
	-webkit-transform: rotateY(90deg);
}

.portfolio-item .primary{
	transition: all 1.0s linear;
}

.portfolio-item .secondary{
	transition: all 1.0s linear;
}

.portfolio-item:hover .primary{
	-webkit-transform: rotateY(180deg);
}

.portfolio-item:hover .secondary{
	-webkit-transform: rotateY(360deg);
}

.primary{
	position: absolute;
}



