doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(role="navigation").navbar.navbar-inverse.navbar-static-top
      .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="#" ).navbar-brand cinnanode
      .collapse.navbar-collapse.navbar-ex1-collapse
          a(href='/view')
            button.btn.btn-primary.navbar-right.view View
          a(href='/submit')
            button.btn.btn-primary.navbar-right.view Submit
    .container            
      block content

  script(src="http://code.jquery.com/jquery-2.1.0.min.js")
  script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="javascripts/main.js")