doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(role="navigation").navbar.navbar-inverse.navbar-static-top
        .navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href="#" ).navbar-brand OMEGA3
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.navbar-right
                li: a(href="/") New Application
                li: a(href="/applicant/list") All 
                li: a(href="/applicant/delete/view") Delete
                
    block content
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")