
body{
	overflow: hidden;
}

.brand{
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: #fff;
}

.new-game button{
	margin-right: 50px;
	margin-left: 30px;
}

.main{
	margin-top: 50px;
	width: 100%;
}

.sq{
	width: 50%;
	color: #fff;
}

.sq-0{
	background-color: rgba(192, 57, 43, 1.0);
	padding: 10px 30px;
}
.sq-1{
	background-color: rgba(241, 196, 15,1.0);
	padding: 10px 20px;
}

.sq-2{
	background-color: rgba(41, 128, 185,1.0);
	padding: 10px 30px;
}

.sq-3{
	background-color: rgba(39, 174, 96,1.0);
	padding: 10px 20px;
}	

.timer{
	position: fixed;
	left: 40%;
	top: 15%;
	font-size: 30em;
	color: #fff;
	z-index: 1;
}

.result-display{
	position: fixed;
	left: 30%;
	top: 17%;
	font-size: 20em;
	color: #fff;
	z-index: 1;
}


@media (max-width: 768px) {
	.result-display{
		position: fixed;
		left: 19%;
		top: 19%;
		font-size: 15em;
		color: #fff;
		z-index: 1;
	}
}

@media (max-width: 480px) {
	.result-display{
		position: fixed;
		left: 5%;
		top: 28%;
		font-size: 10em;
		color: #fff;
		z-index: 1;
	}

	.status{
		display: none;
	}

	.level{
		font-size: 10px;
	}
}

.status{
	color: #fff;
	font-size: 20px;
}

.level{
	color: #fff;
	font-size: 20px;
}

.cont-start-game{
	bottom: -5px;
}

/*.radial-flash{
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 114, color-stop(0%, #ffffff), color-stop(92%, rgba(0, 0, 0, 0)));
	background-image: -webkit-radial-gradient(center center, farthest-side, #ffffff 0%, rgba(0, 0, 0, 0) 92%);
	background-image: -moz-radial-gradient(center center, farthest-side, #ffffff 0%, rgba(0, 0, 0, 0) 92%);
	background-image: -ms-radial-gradient(center center, farthest-side, #ffffff 0%, rgba(0, 0, 0, 0) 92%);
	background-image: -o-radial-gradient(center center, farthest-side, #ffffff 0%, rgba(0, 0, 0, 0) 92%);
	background-image: radial-gradient(farthest-side at center center, #ffffff 0%, rgba(0, 0, 0, 0) 92%);
}*/