extends layout

block content
        .row
          .col-lg-10
            .input-group
                input(type="text").form-control.search-input
                .input-group-btn
                    .btn(type="button" placeholder="enter search terms").btn-primary.search search

        